body {
    background-color: #C4C4C4;
    border: none; 
    margin: 0; 
    padding: 0; 
    background-image: url('dLV1YXrtvxw.jpg'), url("5 пж.jpg");
    background-size: 500px;
    background-position: 560px 120px, 50px 400px;
 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;

}



#autocomplete #searchInput {
    width: 495px;
    height: 61px;
    margin-top: 50px;
    margin-left: 50px; 
    border: none; 
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    
}

#repositoryList {
    list-style-type: none;
    padding: 0;
}

#autocompleteList {
    position: absolute;
    width: 500px;
    max-height: 200px; 
    background-color:#E3E3E3;
    z-index: 1;
    padding: 0; 
    list-style-type: none;
    margin-top: 0px;
    margin-left: 50px;
}

#autocompleteList li {
    padding: 10px; 
    cursor: pointer; 
    border: 1px solid black; 
}


#autocompleteList li:hover {
    background-color: #65CDF9;
}

.repo-info-container {
    width: 479px;
    height: 60px;
    margin-top: -15px;
    margin-left: 49px;
    border: 1px solid #000000;
    background: #E27BEB;
    padding: 10px;
}

.repo-info-container {
    position: relative;
}

.remove-button {
    position: absolute; 
    top: 28px;
    right: 20px;
}

.remove-button {
    position: absolute;
    top: 28px;
    right: 20px; 
    color: red;
    background-color: transparent; 
    border: none; 
    font-size: 20px; 
    cursor: pointer;
}